.dialog {
    height: 25px;
    border: 1px dotted #093426;
    text-align: center;
    line-height: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}



.dialog a {
    color: #093426;
    text-decoration: none;
}

.dialog a.active {
    color: #EA202C
}