.item {
    margin: 10px;
}

.item a {
    color: #448D76;
    display: block;
    text-decoration: none;
}

.item a.active {
    color: #F3F7D4;
    display: block;
}

.copyleft {
    width: 100%;
    position: absolute;
    bottom: 0;
    color: #F3F7D4;
    text-align: right;
}