.item {
    margin: 10px;
}

.item a {
    color: #61dafb;
    display: block;
}

.item a.active {
    color: goldenrod;
    display: block;
}

.copyleft {
    width: 100%;
    position: absolute;
    bottom: 0;
    color: #61dafb;
    text-align: right;
}