.logo {
    margin: 10px;
    height: 55px;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .logo {
        animation: logo-spin infinite 20s linear;
    }
}



@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.loginBlock {
    float: right;
    width: 200px;
}

.loginBlock a {
    color: #093426;
    display: block;
    text-decoration: none;
    line-height: 75px;
}

.loginBlock a.active {
    color: #F3F7D4;
    display: block;
}

.loginBlock p {
    /* display: block; */
    margin-block-start: 0;
    margin-block-end: 0;
    line-height: 75px;
    color: #F3F7D4;
}