.bg {
    background-image: url('./../../../bg.jpg');
    height: 25vmin;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .descriptionBlock {
    padding: 10px;
  }