.item {

  margin-top: 20px;
  margin-bottom: 20px;

  border-bottom: 1px solid rgba(153, 205, 50, 0.452);

}

.round {
  width: 5em;
  height: 5em;
  border: 2px solid yellowgreen;
  border-radius: 50%;
  background: rgba(106, 142, 35, 0.432);
  text-align: center;
  display: inline-block;
  line-height: 5em;
  margin: 10px;
  vertical-align: top;
}

.txt {
  color: DarkOliveGreen;
  display: inline-block;
  margin: 10px;
  max-width: 80%;
}

.likes {
  display: block;
  margin: 10px;
  font-weight: bold;
}